extends ../mixins/layout

block title
  title Équipes - Code Wars

block header
  +header()

block score
  +scoreBoard()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          .row.mb-4
            .col-10.p-0
              h1 Équipes
              small.header-description Avec l'aide de vos camarades, accumulez des points en réussissant des missions pour vaincre l'autre équipe. Avec certains articles du magasin vous pourrez aussi punir l'autre équipe.
            .col-2
              img.img-fluid.w-100(src="/assets/images/trooper_team.png")
          if user.isTeacher
            a(href='/management/students').no-decoration
              button.btn.btn-yellow
                p.mb-0
                  i.fas.fa-plus-square.mr-2
                  | Gestion des Étudiants
      #teams
        .row.justify-content-between
          .col-lg-5.col-sm-12.p-0.rebel
            h1.rebel-sith-logo.starwars-font Rebel
              img(src='assets/images/rebel.png').ml-3
            h6.mb-3 #{format('decimal', teamProgress.Rebel, 1, 1)} % des missions totales complétées
            .card.py-3.box-shadow-rebel
              each rebel, index in teams.rebels
                +teamMember(rebel, index)
          .col-lg-5.col-sm-12.p-0.sith
            h1.rebel-sith-logo.starwars-font Sith
              img(src='assets/images/sith.png').ml-3
            h6.mb-3.text-right #{format('decimal', teamProgress.Sith, 1, 1)} % des missions totales complétées
            .card.py-3.box-shadow-sith
              each sith, index in teams.siths
                +teamMember(sith, index)
