extends ../mixins/layout

block title
  title Équipe - Code Wars

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  .container
    #score.d-flex.justify-content-center.my-5
      +scoreBoard()
    if user.isTeacher
      .container.d-flex.justify-content-end
        a(href='/management/students')
          button.btn.btn-yellow#Btn
            p
              i.fas.fa-plus-square
              | Gestion des étudiants
    #teams
      .row.justify-content-between.mb-4
        .col-5.mx-4
          h1.rebel-sith-logo.starwars-font Rebel
            img(src='assets/images/rebel.png').mx-3
        .col-5.text-right.mx-4
          h1.rebel-sith-logo.starwars-font Sith
            img(src='assets/images/sith.png').mx-3
      .row.justify-content-between
        .col-5.mx-4.card.py-3.box-shadow-rebel
          each rebel, index in teams.rebels
            +teamMember(rebel, index)
        .col-5.mx-4.card.py-3.box-shadow-sith
          each sith, index in teams.siths
            +teamMember(sith, index)

