extends ../../mixins/layout

block title
  title Étudiants - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 Étudiants
          div.d-flex
            if user.isTeacher
              a.no-decoration(href='/management/students/create').mr-4
                button.btn.btn-yellow
                  p.mb-0
                    i.fas.fa-plus-square.m-1
                    | Nouvel étudiant
              a.no-decoration(href='/management/students/rapidAdd').mr-4
                button.btn.btn-yellow
                  p.mb-0
                    i.fas.fa-hat-wizard.m-1
                    | Ajout rapide
              a.no-decoration(data-bs-toggle="modal" data-bs-target='#reset')
                button.btn.btn-yellow
                  p.mb-0
                    .fas.fa-bomb.m-1
                    | ORDER 66
        hr.w-100
        table.table.w-100
          thead
            tr
              th DA
              th Nom
              th Équipe
              th Balance
              th Points
              th
          tbody.w-100
              each student in students
                tr
                  td
                    p.student-row-element #{student.da}
                  td
                    p.student-row-element
                      a.student-link(href='/management/students/' + student.da + '/profile')
                        | #{student.firstname} #{student.lastname}
                  td
                    p.student-row-element #{student.team_name}
                  td
                    +star_wars_money(student.cash)
                  td
                    +star_wars_points(student.points)
                  td
                    a.col(href='/management/students/' + student.da + '/edit')
                      i.fas.fa-edit.student-icons
                    a.col(data-bs-toggle="modal" data-bs-target='#studentDeleteModal' + student.da)
                      i.fas.fa-trash.student-icons
              each student in students
                +confirmationModal("Suppression d'étudiant", 'Voulez-vous vraiment supprimer cet étudiant ?',
                  '/management/students/' + student.da + '/delete', 'studentDeleteModal' + student.da)

    +confirmationModalPOST("ORDER 66", 'Voulez-vous vraiment exécuter l\'ordre 66 ? (Supprimer tous les étudiants et désactivé les semaines)', "/management/students/reset", 'reset')
