include ../../mixins/base

doctype html
html
	head
		title CodeWars - Home
		meta(charset='utf-8')
		body
			h1 Gestion des étudiants
			+flash
			a(href='/management/students/create') Créer un étudiant
			each student in students
				table
					tr
						td
							p
								| #{student.da}.
								| #{student.firstname} #{student.lastname}
						td
								| #{student.cash} $
						td
							a(href='/management/students/' + student.da + '/edit')
								|  Éditer
						td
							a(href='/management/students/' + student.da + '/delete')
								|  Supprimer
