extends ../../mixins/layout

block title
  title Articles - Code Wars

block head
  link(rel="stylesheet" type="text/css" href="/stylesheets/iconselect.css")

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 #{title}
        hr
      form.w-100(method='post', action=action)
        .form-row
          .form-group.col-12.mb-3
            label(for='name') Nom de l'article
            input.form-control(id='name', type='text', name='name', value=(item !== null) ? item.name : val('name'))
          .form-group.col-12.mb-3
            label(for='price') Prix
            input.form-control(id='price', type='text', name='price', value=(item !== null) ? item.price : val('price'))
          .form-group.col-12.mb-3
            label(for="selectedImg") Icône de l'article
            #my-icon-select
            input(type="hidden" id="selectedImg" name="selectedImg" style="width:65px;")
          .form-group.col-12.mb-3
            label(for="description") Description
            textArea.form-control(id='description', name='description', rows="3")
              | #{(item !== null) ? item.description : val('description')}
        .form-row
          button#submitBtn.btn.w-100(type='submit')
            i.fas.fa-plus-square.mr-2
            if item !== null
              | Modifier
            else
              | Créer

block script
  script(src="/javascripts/iconScrollAddons.js")
  script(src="/javascripts/iscroll.js")
  script(src="/javascripts/iconselect.js")

