extends ../../mixins/layout

block title
  title Articles - Code Wars

block header
  +header()
block body
  .main-container
    +flash
    h1 Articles
    hr.separator
    .items-list
      .row
        .col-3
          h4.student-header-element Nom
        .col-2
          h4.student-header-element Prix
        .col-4
          h4.student-header-element Description
        .col.d-flex.justify-content-end
          a(href='/management/items/create')
            button.btn.btn-yellow#Btn
              p
                i.fas.fa-plus-square
                | Nouvel article
      each item in items
        .row.student-row.box-shadow.mb-4
          .col-3
            p.student-row-element #{item.name}
          .col-2
            p.student-row-element #{format('money', item.price)}
          .col-4
            p.student-row-element #{item.description}
          .col.d-flex.justify-content-end
            .row.d-flex.align-items-center
              a.col(href='/management/items/' + item.id + '/edit')
                i.fas.fa-edit.student-icons
              a.col(data-bs-toggle="modal" data-bs-target="#itemDeleteModal")
                i.fas.fa-trash.student-icons

  +confirmationModal("Suppression d'article", 'Voulez-vous vraiment supprimer cet article ?',
    '/management/items/' + item.id + '/delete', 'itemDeleteModal')