extends ../../mixins/layout

block title
  title Articles - Code Wars

block header
  +header()
block body
  +flash
  #circle
  #circleSmallRight
  .student-form-container
    h4 #{title}
    hr
    form(method='post', action=action)
      .form-row
        .form-group.col-12.mb-1
          label(for='name') Nom de l'article
          input.form-control(id='name', type='text', name='name', value=(item !== null) ? item.name : val('name'))
        .form-group.col-12.mb-1
          label(for='price') Prix
          input.form-control(id='price', type='text', name='price', value=(item !== null) ? item.price : val('price'))
        .form-group.col-12.mb-1
          label(for="description") Description
          textArea.form-control(id='description', name='description')
            | #{(item !== null) ? item.description : val('description')}
      .form-row
        button#submitBtn.btn(type='submit')
          if item !== null
            | Modifier
          else
            | Créer