include ../../mixins/base

doctype html
html
  head
    title Gestion des articles
    meta(charset='utf-8')
    body
      h1 Gestion des articles
      +flash
      a(href='/management/items/create') Créer un article
      each item in items
        table
          tr
            td
              p
                | #{item.name},
            td
              | #{item.price} $,
            td
              | #{item.description}
            td
              a(href='/management/items/' + item.id + '/edit')
                |  Éditer
            td
              a(href='/management/items/' + item.id + '/delete')
                |  Supprimer
