extends ../../mixins/layout

block title
  title Articles - Code Wars

block header
  +header()

block body
  .main-container
    +flash
    h1 Missions
    hr.separator
    .exercises-list
      .row
        .col-3.student-header-col
          h4.student-header-element Nom
        .col-2.student-header-col
          h4.student-header-element Difficulté
        .col-2.student-header-col
          h4.student-header-element.ml-0 Argent
        .col-1.student-header-col
          h4.student-header-element.ml-0 Points
        .col-2.student-header-col
          h4.student-header-element Semaine
        .col.d-flex.justify-content-end
          a(href='/management/exercises/create')
            button.btn.btn-yellow#Btn
              p
                i.fas.fa-plus-square
                | Nouvel Exercice
      each exercise in exercises
        .row.student-row.box-shadow.mb-4
          .col-lg-3.col-sm-4
            p.student-row-element #{exercise.name}
          .col-lg-2.col-sm-4
            each difficulty, index in difficulties
              if (index === exercise.difficulty)
                p.student-row-element #{difficulty}
          .col-lg-2.col-sm-4.d-flex.align-items-center
            +star_wars_money(exercise.cash_reward)
          .col-lg-1.col-sm-3.d-flex.align-items-center
            +star_wars_points(exercise.point_reward)
          .col-lg-2.col-sm-3
            p.student-row-element Semaine #{exercise.number}
          .col.d-flex.justify-content-end
            .row.d-flex.align-items-center
              a.col(href='/management/exercises/' + exercise.id + '/tips')
                i.fas.fa-lightbulb.student-icons
              a.col(href='/management/exercises/' + exercise.id + '/edit')
                i.fas.fa-edit.student-icons
              a.col(data-bs-toggle="modal" data-bs-target="#exerciseDeleteModal" + exercise.id)
                i.fas.fa-trash.student-icons
  each exercise in exercises
    +confirmationModal("Suppression d'exercice" , 'Voulez-vous vraiment supprimer cet exercice ?',
      '/management/exercises/' + exercise.id + '/delete', 'exerciseDeleteModal' + exercise.id)