extends ../../mixins/layout

block title
  title Indices - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 #{title}
        hr
      form.w-100(method='post', action=action)
        .form-row
          .form-group.col-12.mb-3
            label(for="tip") Description
            textArea.form-control(id='tip', name='tip' rows='6')
              | #{(tip !== null) ? tip.tip : val('tip')}
        .form-row
          .form-group.col-12.mb-3
            label(for="price") Prix
            input.form-control(placeholder="0" id='price', name='price', type='number' min='0' value=(tip !== null) ? tip.price : val('price'))
        .form-row.w-50.m-auto
          button#submitBtn.btn(type='submit')
            i.fas.fa-plus-square.mr-2
            if tip !== null
              | Modifier
            else
              | Ajouter
