extends ../../mixins/layout

block title
  title Indices - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          .d-flex.flex-column
            h1.pr-4 Gestion des indices pour
            h5.text-muted=exercise.name
          a.no-decoration(href='/management/exercises/' + exercise.id + "/tips/create")
            button.btn.btn-yellow#Btn
              i.fas.fa-plus-square
              | Ajouter un indice
      br
      if tips != null
        table.table.w-100
          thead
            tr
              th Indice
              th Prix
              th
          tbody.w-100
            each tip in tips
              tr
                td
                  p=tip.tip
                td
                  +star_wars_money(tip.price)
                td
                  a.col(href='/management/exercises/' + exercise.id + '/tips/' + tip.id + "/edit")
                    i.fas.fa-edit.student-icons
                  a.col(data-bs-toggle="modal" data-bs-target="#tipsDeleteModal" + tip.id)
                    i.fas.fa-trash.student-icons
          each tip in tips
            +confirmationModal("Suppression d'indice" , 'Voulez-vous vraiment supprimer cet indice?',
                '/management/exercises/' + exercise.id + '/tips/' + tip.id + '/delete', 'tipsDeleteModal' + tip.id)
      else
        h5.text-muted Aucun indices pour cette mission