extends ../../mixins/layout

block title
  title Semaines - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 Semaines
          a.no-decoration(href='/management/weeks/create')
            button.btn.btn-yellow
              i.fas.fa-plus-square.mr-2
              | Nouvelle semaine
        hr
        if Count(weeks) <= 0
          span.text-muted Vous n'avez aucune semaine de créée pour l'instant.
        else
          table.table.w-100
            thead
              tr
                th Date de début
                th Numéro
                th Activée
            tbody.w-100
              each week in weeks
                tr
                  td
                    p.student-row-element #{format('date', week.start_date)}
                  td
                    p.student-row-element Semaine #{week.number}
                  td
                    p.student-row-element #{week.is_active ? 'Oui' : 'Non'}
                  td.text-right
                    a.col(href='/management/weeks/' + week.id + '/activate')
                      i(class=week.is_active ? 'fa-eye-slash': 'fa-eye').fas.student-icons
                    a.col(data-bs-toggle="modal" data-bs-target="#weekDeleteModal" + week.id)
                      i.fas.fa-trash.student-icons
          each week in weeks
            +confirmationModal("Suppression de semaine" , 'Voulez-vous vraiment supprimer cette semaine?',
                '/management/weeks/' + week.id + '/delete', 'weekDeleteModal' + week.id)
