mixin missionSidebar(exercise)
  .mission-info.px-0
    .row.mission-week
      .col-2.mb-0
        i.fas.fa-calendar-alt
      .col-8.mb-0
        span Semaine #{exercise.week_id}
    .row.mission-cash-reward
      .col-2.mb-0
        img(src="/assets/images/credit_symbol.svg").svg-icons
      .col-8.mb-0
        span #{format('decimal', exercise.cash_reward, 0, 0)}
    .row.mission-point-reward
      .col-2.mb-0
        img(src="/assets/images/ethereum_symbol.svg").svg-icons
      .col-8.mb-0
        span #{format('decimal', exercise.point_reward, 0, 0)}
    .row.mission-state
      if isTeacher
        .col-2.mb-0
          i.far.fa-edit
        .col-8.mb-0
          span.font-weight-light
            a(href="/management/exercises/" + exercise.id + "/edit") Editer l'exercise
      else
        if corrected
          .col-2.mb-0
            i.far.fa-check-circle.corrected
          .col-8.mb-0
            span.font-weight-light Complétée
        else if !is_good
          .col-2.mb-0
            i.far.fa-times-circle.not-submitted
          .col-8.mb-0
            span.font-weight-light Échouée
        else if !submitted
          .col-2.mb-0
            i.far.fa-times-circle.not-submitted
          .col-8.mb-0
            span.font-weight-light Non débutée
        else
          .col-2.mb-0
            i.far.fa-check-circle.submitted
          .col-10.mb-0
            small En cours
    .col-12.mission-difficulty-container.mb-1
      span.mb-2 Achèvement
      h6.text-muted=completion + " % des élèves ont complété l'exercice"
    .col-8.mission-difficulty-container
      span.mb-2 Difficulté
      .difficulty-stars
        - var i = 0
        - var difficultyDifference = 5 - exercise.difficulty
        while i < exercise.difficulty
          i.fas.fa-star.active
          - i++
        - var i = 0
        while i < difficultyDifference
          i.fas.fa-star
          - i++
