mixin commentModal(title)
  .modal.fade(id=("comment-modal-" + index) tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title(id="addModalLabel") Add a service
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(method="post", action="/password/addService")
            .form-group
              label.form-label() Username
              input.form-control(name="username")
            .form-group
              button.btn.btn-secondary(type="button"  data-dismiss="modal") Close
              button.btn.btn-primary(type="submit") Save changes