mixin footer()
  footer
    .container
      div.d-flex.justify-content-between
        h1.w-75.starwars-font Code Wars
        ul.no-decoration.w-25.d-flex.flex-column.justify-content-flex-end
          li.text-right.mb-1
            a.text-dark(href="/home") Accueil
          li.text-right.mb-1
            a.text-dark(href="/about") À propos
      br
      div.d-flex.justify-content-between
        div.w-75
          p.d-inline-block Ether ©
          p.d-inline-block.ml-1=format('year', system_date)
        ul.no-decoration.w-25.d-flex.flex-row.justify-content-end
          li.mr-3
            a.text-dark(href="https://discord.gg/fRvsWMNuDe" target="_blank")
              i.fab.fa-discord
          li.mr-3
            a.text-dark(href="https://github.com/cegepst/code-wars" target="_blank")
              i.fab.fa-github
          li
            a.omnivox-link(href="https://cegepst.omnivox.ca" target="_blank")
              img.omnivox-logo(src="/assets/images/logo-omnivox.png")
