mixin header()
  header.container.mt-1
    nav
      a.logo(href="/home")
        | Code
        | wars
      #hamburger-menu.ml-5
        i#bars.fas.fa-bars
        i#times.fas.fa-times.hidden
      ul.menu-items.d-flex
        li
          a(href="/home") Accueil
        li
          a(href="/teams") Équipes
        li
          a(href="/exercises") Missions
        li
          a(href="/market") Magasin
        if user.isTeacher
          li
            a(href="/management/correction") Correction
          li
            a(href="/management/students") Étudiants
    .d-flex.flex-row
      #student.d-flex.align-items-center
        .text-right.pr-3.d-flex.flex-column
          if !user.isTeacher
            h6 #{student.username}
            h6 #{format('money', student.cash)} | #{student.points} pts
          else
            h6 Enseignant
      if !user.isTeacher
        a.profile-pic(href="/profile")
            img(src=profileImageUrl)
      a(href="/profile/notifications").bell.mr-2
        button.ml-3
          i#bell.fas.fa-bell
      form.disconnect.mr-2(action="/logout", method="post")
        button.ml-3
          i#icon-header.fas.fa-power-off
