mixin header()
  header.container.mt-1
    nav
      a.logo(href="/home")
        | Code
        | wars
      #hamburger-menu.ml-5
        i#bars.fas.fa-bars
        i#times.fas.fa-times.hidden
      ul.menu-items.d-flex
        li
          a(href="/home") Accueil
        li
          a(href="/leaderboard") Classement
        li
          a(href="/teams") Équipes
        li
          a(href="/exercises") Missions
        li
          a(href="/market") Magasin
        if user.isTeacher
          li
            a(href="/management/correction") Correction
    .d-flex.flex-row
      .d-flex.align-items-center
        .text-right.pr-3.d-flex.flex-column
          if !user.isTeacher
            h6 #{student.username}
            h6.pr-0.d-flex.align-items-center.justify-content-end
              +star_wars_money(student.cash)+star_wars_points(student.points)
          else
            h6 Enseignant
      if !user.isTeacher
        a.profile-pic(href="/profile")
            img(src=profileImageUrl)
      .d-flex
        a(href="/profile/notifications").bell
          button.ml-3(class=(!user.isTeacher) ? 'mr-2': '')
            i#bell.fas.fa-bell
        if user.isTeacher
          .dropdown.d-flex.align-items-center
            button(id="managementDropdown" type="button" data-bs-toggle="dropdown").btn.bg-transparent.gestion-button
              i#icon-header.fas.fa-cog
            ul(aria-labelledby="managementDropdown").dropdown-menu.dropdown-menu-end
              li.p-1
                a(href="/management/students").dropdown-item Étudiants
              li.p-1
                a(href="/management/items").dropdown-item Magasin
              li.p-1
                a(href="/management/exercises").dropdown-item Missions
              li.p-1
                a(href="/management/weeks").dropdown-item Semaines
        form.disconnect(action="/logout", method="post")
          button
            i#icon-header.fas.fa-power-off

block script
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js")
