include base
include header
include notification

doctype html
html
  head
    block pageTitle
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    block header
    block body
    block footer

