include base
include header
include notification
include teamMember
include scoreBoard

doctype html
html
  head
    block title
    link(rel="icon" href="/assets/images/icon_helmet.png")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    block header
    block body
    block footer

