mixin exerciseRow(exercise)
  tr
    td=exercise.name
    td #{format('date', exercise.submit_date)}
    td
      if exercise.corrected
        i.far.fa-check-circle.corrected.student-exercise-element
      else
        i.far.fa-times-circle.not-submitted.student-exercise-element
      if exercise.comments != null
        a(href="" data-bs-toggle="modal" data-bs-target="#commentModal" + exercise.id).ml-3
          i.fas.fa-comment-dots.student-icons
    td=exercise.cash_reward
    td.start=exercise.point_reward
