mixin exerciseRow(exercise)
  tr
    td
      a(href="/exercises/" + exercise.id)=exercise.name
    td #{format('date', exercise.submit_date)}
    td
      if exercise.corrected
        i.far.fa-check-circle.corrected.student-exercise-element(title="Corrigée")
      else if exercise.is_good === false
        i.far.fa-times-circle.not-submitted.student-exercise-element(title="Incorrecte")
      else
        i.far.fa-times-circle.student-exercise-element.submitted(title="En attente de correction")
      if exercise.comments != null
        a(href="" data-bs-toggle="modal" data-bs-target="#commentModal" + exercise.id).ml-3
          i.fas.fa-comment.student-icons
      else
        i.fas.fa-comment-slash.ml-3
    td
      if exercise.corrected
        +star_wars_money(exercise.cash_reward)
      else
        +star_wars_money(0)
    td.start
      if exercise.corrected
        +star_wars_points(exercise.point_reward)
      else
        +star_wars_points(0)
