mixin notificationLayout(notifications)
  .row
    .col-10
      h2.mb-4 Mes notifications
    .col-2.d-flex.align-items-end.justify-content-end
      a(href="").text-dark
        h6.mb-4 Voir tout
  #notifs.mx-2
    if notifications == null
      h6.ml-2 Vous n'avez aucune notification
    else
      each notif in notifications
        +notification(notif)