mixin notificationLayout(notifications, isHome)
  .row.d-flex.justify-content-between.align-items-center
    div
      h2.mb-4 Mes notifications
    div.d-flex.align-items-end.justify-content-end
      if notifications != null
        a(href="/profile/notifications").text-dark
          h6.mb-4.mr-4 Voir tout
  #notifs
    if notifications == null
      h6 Vous n'avez aucune nouvelle notification
    else
      each notif in notifications
        +notification(notif)