mixin notification(notif)
  .card.mb-3.w-100.notification
    .row.p-3.notification-row
      .col-10
        h6.mb-1=notif.name
        p.mb-0=notif.description
        p.mb-0.time.pt-2 Émis le #{notif.date}
      .col-1.d-flex.align-items-center.mr-2
        a(href="/notification/seen/" + notif.id).text-dark.notification-check
          i.fas.fa-check-circle.fa-2x
