mixin scoreBoard()
  .container#scoreBoardContainer
    #scoreBoard.d-flex.flex-column
      .d-flex.justify-content-between
        .score-bar
          .score-points
            .d-flex
              h4
                +star_wars_points(teamPoints.Rebel)
          .score-value-left(style="width: " + teamPoints.rebelWidth + "%")
        .score-bar
          .score-points
            .d-flex.justify-content-end
              h4
                +star_wars_points(teamPoints.Sith)
          .score-value-right(style="width: " + teamPoints.sithWidth + "%")
      .rebel-sith.text-center.w-100
        img(src='/assets/images/rebelvsith.png')
