mixin star_wars_money(money, isAlignEnd, url)
  if isAlignEnd == null
    - isAlignEnd = false
  .mission-cash-reward.d-flex.align-items-center(class = isAlignEnd ? 'justify-content-end': '')
    span #{format('decimal', money, 0, 0)}
    img.ml-1(src="/assets/images/credit_symbol.svg").svg-icons