mixin star_wars_points(points, isAlignEnd)
  .mission-point-reward.d-flex.align-items-center(class = isAlignEnd ? 'justify-content-end': '')
    img.mr-1(src="/assets/images/ethereum_symbol.svg").svg-icons
    span.text-dark #{format('decimal', points, 0, 0)}
