mixin star_wars_money(money, isAlignEnd)
  if isAlignEnd == null
    - isAlignEnd = false
  .mission-cash-reward.d-flex.align-items-center(class = isAlignEnd ? 'justify-content-end': '')
    img.mr-2(src="/assets/images/credit_symbol.svg").svg-icons
    span #{format('decimal', money, 0, 0)}