mixin star_wars_money(money)
  .mission-cash-reward.d-flex.align-items-center.mr-3
    img.m-1(src="/assets/images/credit_symbol.png" width="15px" height="15px")
    span.m-1 #{format('decimal', money, 0, 0)}