mixin teamMember(member)
  .team-member.mx-4.my-3
    .row.border-bottom
      .col-6
        h6 #{member.firstname} #{member.lastname}
      .col-6
        h6.text-right
         | #{member.cash} $ | #{member.points} pts