mixin weekProgress(week)
  .row.my-4
    .col-2.pl-0
      p.mb-0 Semaine #{week.number} :
    .col-9.mt-1
      .progress
        .progress-bar(style="width: " + week.progress + "%").bg-accent
    .col-1
      p.mb-0 #{week.progress} %

mixin weekProgressSmall(week)
  .row.my-2
    .col-4.px-0
      small Semaine #{week.number} :
    .col-5.mt-1.p-0
      .progress
        .progress-bar(style="width: " + week.progress + "%").bg-accent
    .col-3
      small.mb-0.text-muted #{week.progress} %
