doctype html
html
	head
		title Page introuvable - Code Wars
		link(rel="icon" href="/assets/images/icon_helmet.png")
		link(rel="stylesheet" href="/stylesheets/style.css")

	body.dark-bg.full-screen.d-flex.justify-content-between.align-items-center.flex-column.pb-0
		.text-light.starwars-font
			h1.text-center.mt-5.error-code 404
			h2.mt-5.error-message You lost your own way my son

		img.h-75.darth-vader(src="/assets/images/404.png")
