doctype html
html
	head
		title Fichier volumineux - Code Wars
		link(rel="icon" href="/assets/images/icon_helmet.png")
		link(rel="stylesheet" href="/stylesheets/style.css")

	body.dark-bg.full-screen.d-flex.justify-content-between.align-items-center.flex-column.pb-0
		h1.text-center.mt-5.starwars-font.error-code 413
		h2.text-center.pb-3.starwars-font.error-message This package is too heavy

		img.buff-trooper(src="/assets/images/413.png" height="25%" width="25%")
