doctype html
html
	head
		title Fichier volumineux - Code Wars
		link(rel="icon" href="/assets/images/icon_helmet.png")
		link(rel="stylesheet" href="/stylesheets/style.css")

	body.dark-bg.full-screen.d-flex.justify-content-between.align-items-center.flex-column
		.text-light.starwars-font
			h1.text-center.mt-5.error-code 413
			h2.mt-5 This package is too heavy

		img.buff-trooper(src="/assets/images/413.png" height="25%" width="25%")
