extends ../../mixins/layout

block title
  title Correction - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 Correction
          hr
        if corrections == null
          h5.d-block.text-muted.text-center Aucun exercice à corriger pour l'instant...
        else
          h5.d-block.text-muted Consulter la liste des solutions. Vous avez (#{count}) missions à corriger
        br
        each correction, person in corrections
          h4 #{person}
          hr
          ul.mb-4.pl-0
            each exercise, index in correction
              li.ml-4
                a(href="/management/correction/detail/" + person + "/"  + exercise.exercise_id + "/" + exercise.id ).text-dark
                  p.m-0.student-row-element #{exercise.name} (Remis le #{format('datetime', exercise.submit_date)})
