extends mixins/layout

block title
  title À Propos - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        h1#aboutTitle À propos
        hr
        .row
          .col-5.about-codewars-img-container
            img.about-codewars-pics(src="/assets/images/trooper_alpha.png")
          .col-7.mt-4
            h3 Devenez le meilleur !
            p Avec l'aide de Codewars, vous allez perfectionner vos capacités en tant que programmeur. Plus précisément, la programmation orientée objet. De plus, vous recevrez des récompenses, comme des points bonus, du temps supplémentaire et bien plus encore !
        br
        h2 L'équipe Ether
        hr.mb-5
        .team-pics-container
          +aboutTeamMember("/assets/images/samuel_color.jpg", "Samuel Tessier", (['Développeur back-end', 'Coordonnateur']), 'https://github.com/ZElGHTS', 'https://www.linkedin.com/in/samuel-tessier-93268820a')
          +aboutTeamMember("/assets/images/tommy-lee_color.jpg", 'Tommy-Lee Pigeon', (["Développeur fullstack", "Responsable des tests unitaires"]), 'https://github.com/Lee31416', 'https://www.linkedin.com/in/tommy-lee-pigeon-847581171/')
          +aboutTeamMember("/assets/images/jeremie_color.jpg", 'Jérémie Bouchard', (["Développeur fullstack", "Responsable de la base de données"]), 'https://github.com/WooDooWooDa', 'https://www.linkedin.com/in/j%C3%A9r%C3%A9mie-bouchard-344b44232/')
          +aboutTeamMember("/assets/images/josh_color.jpg", 'Joshua Leblanc', (["Développeur front-end", "Responsable UI/UX"]), 'https://github.com/BigBoi077', 'https://www.linkedin.com/in/joshualeblanc077/')
          +aboutTeamMember("/assets/images/julien_color.jpg", 'Julien Deguire', (["Développeur back-end"]), 'https://github.com/CordePanthere61', 'https://www.linkedin.com/in/julien-deguire-297a3415a/')
        h2 Concept
        hr
        p Mention à David Tucker pour le concept de Code Wars. Ce système reprend tous les points majeures du site originale en y ajoutant un accent sur la sécurité et la simplicité d'utilisation pour tous.
        hr
        small.text-muted.d-block “You’re all clear, kid. Now blow this thing and go home!”
        small.text-muted - David Tucker