extends mixins/layout

block title
  title="Accueil - Code Wars"

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  .container
    #score.d-flex.justify-content-center.my-5
      +scoreBoard()
    .row.mt-5.p-4
      include mixins/notificationLayout
      if isTeacher === true
        .col-8
          +notificationLayout(notifications)
      else
        .col-5
          +notificationLayout(notifications)
      .col-7
        if isTeacher === false
          h2.mb-4 Membres de mon équipe
          .card.py-3
            each member in teamMembers
              +teamMember(member)

            //this needs yellow somewhere nice! plz