extends mixins/layout

block title
  title="Accueil - Code Wars"

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  .container
    #score.d-flex.justify-content-center.my-5
      +scoreBoard()
    .row.mt-5.p-4
      .col-6
        h2.mb-4 Mes notifications
        #notifs.mx-2
          if notifications == null
            h6 Vous n'avez aucune notification
          else
            each notif in notifications
              +notification(notif)
      .col-6
        h2.mb-4 Membre de mon équipe
        .card.py-3
          each member in teamMembers
            +teamMember(member)

            //this needs yellow somewhere nice! plz