extends mixins/layout

block title
  title Accueil - Code Wars

block header
  +header()
block body
  #circle
  #circleSmallRight
  .container
    #score.d-flex.justify-content-center.my-5
      #scoreBoard.d-flex.flex-column.m-5
        .d-flex.justify-content-between
          .score-bar
            .score-points
              h4=100 + " pts"
            .score-value-left(style="width: 30%")
          .score-bar
            .score-points.text-right
              h4=1000 + " pts"
            .score-value-right(style="width: 400px")
        .rebel-sith.text-center.w-100
          img(src='assets/images/sith.png')
    .row.mt-5.p-4
      .col-6
        h2.mb-4 Notifications
        #notifs.container.mx-2
          each val in [1,2,3,4,5]
            +notification(val)
      .col-6
        h2 Membre de l'équipe
        #team
