extends mixins/layout

block title
  title="Accueil - Code Wars"

block header
  +header()

block score
  +scoreBoard()

block body
  .container
    if quote !== null
      .m-5.text-center
        h3.font-italic “ #{quote} ”
    .row.mt-5.p-4.main-card
      .w-100
        h1 Transactions
        hr
        .done
          if transactions != null
            table.table
              thead
                th Date
                th Description
                th.end Balance
              tbody
                each transaction in transactions
                  tr
                    td=format('date', transaction.date)
                    td.start=transaction.description
                    td.end
                      .d-flex
                        +cashBalance(transaction.cash, transaction.is_cash_positive)
                        +pointsBalance(transaction.points, transaction.is_points_positive)
          else
            small.text-muted Vous n'avez aucune transaction pour l'instant.
