extends mixins/layout

block title
  title="Accueil - Code Wars"

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  .container
    #score.d-flex.justify-content-center.my-5
      +scoreBoard()
    if quote !== null
      .m-5.text-center
        h3.font-italic “ #{quote} ”
    .row.mt-5.p-4
      include mixins/notificationLayout
      .col-12
        +notificationLayout(notifications)
