extends mixins/layout

block title
  title="Accueil - Code Wars"

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  .container
    #score.d-flex.justify-content-center.my-5
      +scoreBoard()
    if quote !== null
      .m-5.text-center
        h3.font-italic “ #{quote} ”
    .row.mt-5.p-4
      include mixins/notificationLayout
      .col-6
        +notificationLayout(notifications)
      .col-6
        if isTeacher === false
          h2.mb-4 Membres de mon équipe
          .card.py-3
            each member in teamMembers
              +teamMember(member)

            //this needs yellow somewhere nice! plz