extends mixins/layout

block title
  title Accueil - Code Wars

block header
  +header()

block body
  #circle
  .container
    #score.d-flex.justify-content-center.my-5
      #scoreBoard.d-flex.flex-column.m-5
        .d-flex.justify-content-between
          .score-bar
            .score-points
              h4 #{teamPoints.Sith} pts
            .score-value-left(style="width: " + teamPoints.sithWidth + "%")
          .score-bar
            .score-points.text-right
              h4 #{teamPoints.Rebel} pts
            .score-value-right(style="width: " + teamPoints.rebelWidth + "%")
        .rebel-sith.text-center.w-100
          img(src='assets/images/sith.png')
    .row.mt-5.p-4
      .col-6
        h2.mb-4 Notifications
        #notifs.container.mx-2
          each val in [1,2,3,4,5]
            +notification(val)
      .col-6
        h2.mb-4 Membre de l'équipe
        #team.card.py-3
          each member in teamMembers
            +teamMember(member)
