extends mixins/layout

block title
  title="Accueil - Code Wars"

block header
  +header()

block score
  +scoreBoard()

block body
  .container
    if quote !== null
      .m-5.text-center
        h3.font-italic “ #{quote} ”
    .row.mt-5.p-4.main-card
      .w-100
        h1 Accueil
        hr
      include mixins/notificationLayout
      .col.p-0
        +notificationLayout(notifications)
      if isTeacher === false
        .col.p-0
          h4.mb-4 Membres de mon équipe
          .card.pb-3.pt-1
            each member, index in teamMembers
              +teamMember(member, index)
