extends mixins/layout

block title
  title="Accueil - Code Wars"

block header
  +header()

block body
  .container
    #score.d-flex.justify-content-center.my-5
      +scoreBoard()
    if quote !== null
      .m-5.text-center
        h3.font-italic “ #{quote} ”
    .row.mt-5.p-4
      include mixins/notificationLayout
      if isTeacher === true
        .col-lg-8.col-md-12
          +notificationLayout(notifications)
      else
        .col-lg-5.col-md-12
          +notificationLayout(notifications)
      .col-lg-7.col-md-12
        if isTeacher === false
          h2.mb-4 Membres de mon équipe
          .card.py-3
            each member in teamMembers
              +teamMember(member)

            //this needs yellow somewhere nice! plz