extends mixins/layout
block pageTitle
  title Login - Code Wars
block body
  #title.container.p-5
    .text-center CODE WARS
  form(method='post', action='/login').container.login-form
    +flash
    input(id='da', type='text', name='da', placeholder='DA').form-control.m-3
    input(id='password', type='password', name='password', placeholder='Mot de passe').form-control.m-3
    br
    .text-right.w-100.pb-4
      .pretty.p-switch.mr-0
        input(id='remember_me', name='remember_me', type='checkbox')
        .state
          label
            | Rester connecté
    button(type='submit').btn.btn-primary
      | Connexion

