include mixins/base
extends mixins/layout

block title
    title Profile - Code Wars

block header
    include mixins/header
    +header()

block body
    #circle
    #circleSmall
    #circleSmallRight
