doctype html
html
  head
    title CodeWars - Home
    meta(charset='utf-8')
    body
      p Bonjour #{user.firstname} #{user.lastname}
      if user.isTeacher
        h1 hi teacher
      form(method='post', action='/logout')
        button(type='submit')
          | Deconnexion