extends ../mixins/layout

block title
  title #{exercise.name} - Code Wars

block header
  +header()

block body
  .container
    .single-mission-detail(class=state)
      .d-block
        h1#mission-title=exercise.name
        hr.separator
      .d-flex.flex-row
        .w-75.pr-5
          h3.mb-2 Débriefing de la mission
          - var desc = exercise.description
          p.mission-description !{desc}
          +missionSubmit(corrected, submitted, isTeacher)
          +exerciseExecutionExample(exercise)
          +exerciseImageExample(imageExamples)
          +exerciseTips(tips)
        .w-25
          +missionSidebar(exercise)

block script
  script(src='/javascripts/upload.js')
