include ../mixins/base
extends ../mixins/layout

block title
  title Missions - Code Wars

block header
  include ../mixins/header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  +flash
  .row.mission-header
    h1.mb-3 Missions
  if user.isTeacher
    .container.d-flex.justify-content-end
      a(href='/management/exercises').mr-5
        button.btn.btn-yellow#Btn
          p
            i.fas.fa-plus-square
            | Gestion des missions
  .all-missions
    each exercise in exercises
      .single-mission-row.mb-5
        .mission-information
          .mission-information-header
            h4 #{exercise.name}
            .mission-results
              p Récompense de
                span #{exercise.cash_reward} $
                | et
                span #{exercise.point_reward} points
          hr
        .mission-detail
          p #{exercise.description}
          .detail-link
            a(href="/exercises/" + exercise.id)
              i.fas.fa-info-circle.fa-2x
