extends ../mixins/layout

block title
  title Modification Du Profil - Code Wars

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  +flash
  .student-form-container
    h2.text-center.p-3 Modification Du Profile
    form(method='post', action=action)
      .form-row
        .form-group.col-4
          label Prénom
          input.form-control(placeholder="Dan" name='firstname', type='text' value=user.firstname)
        .form-group.col-4
          label Nom
          input.form-control(placeholder="Loader" name='lastname', type='text' value=user.lastname)
        .form-group.col-4
          label E-mail
          input.form-control(placeholder="beepboop@gmail.com", name='email', type='text' value=student.email)
      .form-row
        .form-group.col-6
          label Mot De Passe
          input.form-control(placeholder="**********", name='password', type='password')
        .form-group.col-6
          label Confirmer Le Mot De Passe
          input.form-control(name='confirmPassword', type='password')
      .form-row
        button#submitBtn.btn(type='submit')
          | Modifier