extends ../mixins/layout

block title
  title Modification Du MDP - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        h1 Modification du mot de passe
        hr
      form.w-100.mb-0(method='post', action="/profile/update/mdp")
        .form-row
          .form-group.col-6
            label Mot de passe
            input.form-control(name='password', type='password')
          .form-group.col-6
            label Confirmer le mot de passe
            input.form-control(name='confirmPassword', type='password')
        .form-row.w-50.m-auto
          button#submitBtn.btn(type='submit')
            i.fas.fa-edit.mr-2
            | Modifier le mot de passe
