extends ../mixins/layout

block title
  title Modification Du Profil - Code Wars

block header
  +header()

block body
  +flash
  .student-form-container
    h2.text-center.p-3 Modification du profil
    form(method='post', action=action)
      .form-row
        .form-group.col-6
          label Nom d'utilisateur
          input.form-control(placeholder='E.g. : Yoda', name='username', type='text', value=student.username)
        .form-group.col-6
          label E-mail
          input.form-control(placeholder="beepboop@gmail.com", name='email', type='text' value=student.email)
      .form-row
        .form-group.col-6
          label Mot De Passe
          input.form-control(placeholder="**********", name='password', type='password')
        .form-group.col-6
          label Confirmer Le Mot De Passe
          input.form-control(name='confirmPassword', type='password')
      .form-row
        button#submitBtn.btn(type='submit')
          | Modifier