extends ../mixins/layout

block title
  title="Notifications - Code Wars"

block header
  +header()

block score
  +scoreBoard()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        h1 Notifications
        hr
      include ../mixins/notificationLayout
      +notificationLayout(notifications)
