extends ../mixins/layout

block title
  title="Notifications - Code Wars"

block header
  +header()

block body
  .container.mt-5
    #score.d-flex.justify-content-center.my-5
      +scoreBoard()
    include ../mixins/notificationLayout
    +notificationLayout(notifications, false)